

.navbar {
    position: relative;
    min-height: 50px;

    border: 1px solid transparent;
}

.navbar-dani {

    border-color: #e7e7e7;
    border-radius: 4px;
}

.body-styling {
background-color: #f8f8f8;
height : 100vh;
}